.title {
	text-align: center;
	font-weight: 700;
	font-size: 50px;
	line-height: 128.4%;
	letter-spacing: 0.035em;
	text-transform: uppercase;

	position: relative;

	color: var(--about-title-color2);

	@media (max-width: 768px) {
		font-size: 40px;
	}

	@media (max-width: 450px) {
		font-size: 25px;
	}}

.tabs__container {
	width: 100%;

	.content {
		padding: 70px 0 50px 0;
		display: flex;
		flex-direction: column;
		width: 100%;

		@media (max-width: 500px) {
			padding: 50px 0 30px 0;
		}

		.about__us {
			margin-bottom: 30px;
			text-align: center;

			@media (max-width: 915px) {
				font-size: 25px;
			}
			@media (max-width: 767px) {
				font-size: 18px;
			}
		}

		.tabs {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;

			.buttons {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;

				.button {
					position: relative;
					margin-bottom: 20px;
					padding: 10px 15px;

					display: flex;
					justify-content: center;
					align-items: center;
					background: transparent;
					border-radius: 12px;
					outline: none;
					border: none;

					font-size: 18px;
					font-weight: 400;

					cursor: pointer;
					color: #fff;

					transition: all 0.5s ease;

					@media (max-width: 520px) {
						cursor: default;
					}

					&:hover {
						color: #989898;
					}

					&.active {
						color: #fff;
					}

					.active {
						position: absolute;

						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: #ffa711;

						z-index: 1;
					}

					.icon {
						position: relative;
						z-index: 2;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 23px;
					}

					.label {
						position: relative;
						z-index: 2;

						margin-left: 7px;
						//mix-blend-mode: exclusion;

						@media (max-width: 870px) {
							display: none;
						}
					}
				}
			}

			.tabs__content {
				width: 100%;
				height: 100%;
			}
		}
	}
}
