



// ! HomePage
.home__page {
	
    background: #336061;
    width: 100%;
    overflow: hidden;
    background-position-x: left;

	.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	

		@media (max-width: 1338px) {
			justify-content: center;
		}
	
		@media (max-width: 756px) {
			display: flex;
			flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
	
		}

		// ! left
		.left {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			max-width: 730px;
			   @media (max-width: 1338px) {
				display: block;
				max-width: 100%;
			   }
				.sub__title {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
					@media (max-width: 1338px) {
						padding: 43px 29px;
						
						    background-color: var(--footer-bg-dark);
					}
				.title {
					position: relative;
					height: 300px;
					font-weight: 700;
					font-size: 50px;
					letter-spacing: 4px;
					line-height: 60px;
					text-shadow: 0px 0px 14px rgba(218, 165, 32, 0.4);
                    margin-bottom: 40px;
					color: #ffffff;

					@media (max-width: 770px) {
						font-size: 45px;
						line-height: 45px;
					}
					@media (max-width: 470px) {
						font-size: 40px;
					}
					@media (max-width: 510px) {
						font-size: 39px;
						letter-spacing: 3px;
					}
					@media (max-width: 435px) {
						font-size: 28px;
						line-height: 45px;
					}
					@media (max-width: 415px) {
						font-size: 25px;
						line-height: 40px;
					}
					//@media (max-width: 390px) {
					//	font-size: 27px;
					//}
				}

				.button__call {
					position: absolute;
					bottom: 150px;

					@media (max-width: 768px) {
						left: 50%;

						transform: translateX(-50%);
					}

					.icons {
						gap: 25px;
						display: flex;
						justify-content: center;
						align-items: center;
							@media (max-width:1338px) {
								display: none;
							}
						.link {
							//background-color: var(--footer-icon-bg-dark);
							color: var(--footer-icon-dark);
							padding: 10px;

							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50px;

							transition: 0.4s;

							&:hover {
								//background-color: var(--footer-iconHover-bg-dark);
								background: transparent;
							}

							svg {
								font-size: 40px;
							}
						}

						.instagram {
							background: #9600bd;
							@media (max-width: 768px) {
								background: #1e1e1e;
								color: #9600bd;
							}
						}

						.what__app {
							background: #50c05c;
							@media (max-width: 768px) {
								background: #1e1e1e;
								color: #50c05c;
							}
						}

						.telegram {
							background: #269dda;
							@media (max-width: 768px) {
								background: #1e1e1e;
								color: #269dda;
							}
						}
					}
				}
			}

			.stats {
			
				bottom: 50px;
				position: absolute;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				max-width: 600px;
				@media (max-width: 1338px) {
					padding: 0 29px;
				}
				h1 {
					font-weight: 600;
					font-size: 50px;
					line-height: 128.4%;
					letter-spacing: 0.035em;
					text-shadow: 0px 0px 14px rgba(218, 165, 32, 0.5);

					color: var(--header-timetable);

				
				}

				hr {
					border: 2px solid var(--header-timetable);
					width: 50px;
					transform: rotate(90deg);

					
				}

				p {
					font-weight: 400;
					font-size: 18px;
					line-height: 128.4%;
					letter-spacing: 0.035em;
					text-shadow: 0px 0px 14px rgba(218, 165, 32, 0.5);

					color: var(--header-timetable);

					@media (max-width: 560px) {
						font-size: 13px;
					}
				}

				.customers {
				
					align-items: center;

					.yearset {
						color: #ffffff;
						min-width: 150px;

						@media (max-width: 560px) {
							min-width: 90px;
						}
					}

					p {
						max-width: 110px;
					}
				}

				.years {
					
					align-items: center;

					.yearset {
					 max-width: 140px;
color: #ffffff;
						
					}
				}
			}
		}

		// ! right
	
		.animate_rotate {
			
		
		
			position: absolute;
			animation: rotateAnimation 15s infinite linear;
			@media (max-width: 576px) {
				top: 10%;
				right:-21%;
			}
		  }
		  
		  @keyframes rotateAnimation {
			from {
			  transform: rotate(0deg);
			}
			to {
			  transform: rotate(360deg);
			}
		  }
		.right {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			max-width: 550px;

			@media (max-width: 1338px) {
				display: block;
				order:-1;
				display: block;
			}
			
			

			.woman {
				position: relative;
				display: flex;
				justify-content: center;
				img {
					position: relative;
					z-index: 2;
					
				}

				&:after {
				
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 1;

					background: var(--home-border-radius-dentist);
					opacity: 0.4;
					border-radius: 50%;
					width: 550px;
					height: 550px;
				}
			}
		}
	}
}
.container_home {
    padding: 0 29px;
	@media (max-width: 1338px) {
		padding: 0;
	}
}
// ! AboutPage
.about__page {
	.block__1 {
		overflow: hidden;
		padding: 70px 0;
		background: var(--about-bg);

		@media (max-width: 500px) {
			padding: 50px 0;
			background: var(--about-bg);
		}

		.about__us {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.balance__for__mobile {
				position: absolute;
				width: 1px;
				height: 1px;
			}
			.balance__for__mobiles {
				position: relative; /* или absolute, если вам нужно позиционирование */
				width: 100%; /* Адаптируется к ширине родительского контейнера */
				height: auto; /* Автоматически подстраивает высоту, сохраняя соотношение сторон */
				object-fit: cover; /* Или contain, если вы хотите, чтобы все изображение умещалось */
			}
			.icon__first {
				position: absolute;
				left: -200px;
				top: 0;
				z-index: 1;
				opacity: 0.2;
				animation: moveUpDownFirst 2s ease-in-out infinite;

				@keyframes moveUpDownFirst {
					0% {
						transform: translateY(0);
					}
					50% {
						transform: translateY(20px);
					}
					100% {
						transform: translateY(0);
					}
				}

				@media (max-width: 600px) {
					left: -100px;
				}

				img {
					width: 100%;
					height: 100%;
					max-width: 500px;
					max-height: 500px;

					transform: rotate(12deg);

					@media (max-width: 600px) {
						max-width: 250px;
						max-height: 250px;
					}
				}
			}

			.icon__second {
				position: absolute;
				right: -200px;
				bottom: -20px;
				z-index: 1;
				opacity: 0.2;
				animation: moveUpDownSecond 2s ease-in-out infinite;

				@keyframes moveUpDownSecond {
					0% {
						transform: translateY(0);
					}
					50% {
						transform: translateY(-20px);
					}
					100% {
						transform: translateY(0);
					}
				}

				@media (max-width: 600px) {
					right: -100px;
				}

				img {
					width: 100%;
					height: 100%;
					max-width: 500px;
					max-height: 500px;

					transform: rotate(345deg);

					@media (max-width: 600px) {
						max-width: 250px;
						max-height: 250px;
					}
				}
			}

			.title {
				font-weight: 700;
				font-size: 50px;
				line-height: 128.4%;
				letter-spacing: 0.035em;
				text-transform: uppercase;

				position: relative;

				color: var(--contact-text-color);

				@media (max-width: 768px) {
					font-size: 40px;
				}

				@media (max-width: 450px) {
					font-size: 25px;
				}

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -10px;
					
					width: 100%;
					height: 1px;

					background-color: var(--contact-text-color);
				}
			}

			.video__text {
				position: relative;
				z-index: 2;
				margin: 50px 0;

				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				background: transparent;

				@media (max-width: 1300px) {
					flex-wrap: wrap;
					justify-content: center;
				}

				.youtube {
					@media (max-width: 1300px) {
						margin-bottom: 20px;
					}

					border-radius: 12px;
					width: 680px;
					height: 390px;

					@media (max-width: 730px) {
						width: 600px;
						height: 350px;
					}
					@media (max-width: 650px) {
						width: 480px;
						height: 300px;
					}
					@media (max-width: 500px) {
						width: 380px;
						height: 230px;
					}
					@media (max-width: 400px) {
						width: 330px;
						height: 200px;
					}
				}

				.text {
					width: 100%;
					max-width: 580px;
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 128.4%;
					letter-spacing: 0.035em;
margin-top: 40px;
					color: var(--contact-text-color);

					@media (max-width: 570px) {
						font-size: 18px;
					}
					@media (max-width: 450px) {
						font-size: 16px;
					}
				}
			}
		}
	}

	.block__2 {
		padding: 40px 0;
		background: var(--about2-bg);
		box-shadow: 0px -50px 100px rgba(255, 255, 255, 0.1);

		.about__ticket {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;

			.card {
				margin: 20px 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				max-width: 230px;

				.icon {
					margin-bottom: 20px;
					width: 100%;
					max-width: 90px;
					height: 100%;
					max-height: 90px;

					@media (max-width: 500px) {
						max-width: 70px;
						max-height: 70px;
					}
				}

				.text {
					text-align: center;
					font-weight: 400;
					font-size: 20px;
					line-height: 128.4%;
					letter-spacing: 0.035em;

					color: #ffe6a9;

					@media (max-width: 500px) {
						font-size: 16px;
					}
				}
			}
		}
	}
}

// ! BasicsOrtodont
.feed__back {
	background: #e7e7ed;
}

// ! ContactPage
.contact__page {
	background: var(--contact-bg);

	.content {
		padding: 70px 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		@media (max-width: 1290px) {
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: 500px) {
			padding: 50px 0;
		}

		.left {
			margin-bottom: 40px;
			width: 100%;
			max-width: 430px;

			.form__block {
			}
		}

		.right {
			width: 100%;
		

			.block {
				display: flex;
				justify-content: space-between;
				align-items: center;

				// ? texts
				.texts {
					display: flex;
					flex-direction: column;
					align-items: flex-start;

					.title {
						margin-bottom: 15px;
						font-weight: 600;
						font-size: 21px;
						line-height: 128.4%;
						letter-spacing: 0.035em;

						color: var(--contact-text-color);

						@media (max-width: 500px) {
							font-size: 18px;
						}
					}

					.tel {
						display: flex;
						align-items: center;
						text-decoration: none;
						color: var(--contact-text-color);
					}

					.text {
						display: flex;
						align-items: center;
						margin-bottom: 10px;

						font-weight: 400;
						font-size: 16px;
						line-height: 128.4%;
						letter-spacing: 0.035em;

						color: var(--contact-text-color);

						@media (max-width: 500px) {
							font-size: 13px;
						}

						svg {
							margin-right: 10px;
							fill: var(--contact-icon);
						}
					}
				}

				// ? logo
				.logo {
					$logo__size: 150px;
					position: relative;

					width: 100%;
					height: 100%;
					max-width: $logo__size;
					max-height: $logo__size;
					border-radius: 50%;

					@media (max-width: 500px) {
						display: none;
					}

					.logo__bg {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);

						background: white;
						max-width: $logo__size;
						max-height: $logo__size;
						border-radius: 50%;

						.logo__img {
							width: 100%;
							height: 100%;
							max-width: $logo__size;
							max-height: $logo__size;
							border-radius: 50%;
						}
					}
				}
			}

			.map {
				margin: 35px 0;

				@media (max-width: 500px) {
					margin: 20px 0;
				}

				iframe {
					width: 100%;
					height: 403.5px;
					border-radius: 10px;

					@media (max-width: 500px) {
						height: 253.5px;
					}
				}
			}
		}
	}
}

.block__1 {
	.title_justify{
		display: flex;
		justify-content: center;
	.title {
		font-weight: 700;
		font-size: 50px;
		line-height: 128.4%;
		letter-spacing: 0.035em;
		text-transform: uppercase;

		position: relative;

		color: var(--contact-text-color);

		@media (max-width: 768px) {
			font-size: 40px;
		}

		@media (max-width: 450px) {
			font-size: 25px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;

			width: 100%;
			height: 1px;

			background-color: var(--contact-text-color);
		}
	}}
	overflow: hidden;
	padding: 70px 0;
	background: var(--about-bg);

	@media (max-width: 500px) {
		padding: 50px 0;
		background: var(--about-bg);
	}

.price {
	color:#282828;
	box-shadow: 0px 0px 48px -19px #382d4f;
	border-radius: 20px;
	padding: 30px 10px;
	background-color: #336061;
	margin-top: 40px;
	margin-bottom: 60px;
	.titles {
		margin-top: 40px;
    
   
    position: relative;
    padding-bottom: 1.8rem;
    width: 100%;
    /* max-width: 390px; */
    /* text-align: center; */
    color: var(--contact-text-color2);
    

		h2 {
			font-size: 21px;
			font-weight: 600;
			letter-spacing: 0.04rem;
			padding-bottom: 0.5rem;
text-align: center;
			@media (max-width: 500px) {
				font-size: 16px;
			}
		}

		p {
			text-align: center;
			font-size: 16px;
			font-weight: 300;
			letter-spacing: 0.02rem;
			line-height: 1.3;

			@media (max-width: 500px) {
				font-size: 13px;
			}
		}
		.price_ron{
			font-weight: 600;
			color:#ffae37;
			margin-top: 20px;
			font-size: 30px;
		}
	ul{ 
		margin: 40px 0px;
		li{

			margin: 10px;
		}
	}
	
	
}
}
}