.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	outline: none;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		.titles {
			position: relative;
			padding-bottom: 1.8rem;
			width: 100%;
			max-width: 390px;

			text-align: center;
			color: var(--contact-text-color);

			h2 {
				font-size: 21px;
				font-weight: 600;
				letter-spacing: 0.04rem;
				padding-bottom: 0.5rem;

				@media (max-width: 500px) {
					font-size: 16px;
				}
			}

			p {
				font-size: 16px;
				font-weight: 300;
				letter-spacing: 0.02rem;
				line-height: 1.3;

				@media (max-width: 500px) {
					font-size: 13px;
				}
			}

			.error__message {
				position: absolute;
				left: 50%;
				
				transform: translateX(-50%);
				font-size: 17px;
				font-weight: 600;
				color: #ff1212;
			}
		}

		.inputs {
			width: 100%;

			.inputBx {
				position: relative;
				width: 100%;
				margin-bottom: 25px;

				.input__field {
					position: relative;
					width: 100%;
					background:#367578;
					border: none;
					outline: none;
					padding: 25px 10px 7.5px 10px;
					border-radius: 4px;
					border: 1px solid transparent;
					color: #ffae37;
					font-weight: 500;
					font-size: 1em;

					&:focus ~ label,
					&:valid ~ label {
						transform: translateY(-7.5px);
						font-size: 0.8em;
						color: #fff;
					}

					&.error {
						border-color: red;
					}
				}

				label {
					position: absolute;
					left: 0;
					padding: 15px 10px;
					font-style: normal;
					color: #ffdba5;
					transition: 0.5s;
					pointer-events: none;
				}

				p {
					position: absolute;
					left: 0;
					
					font-size: 0.9rem;
					font-weight: 500;
					color: #ff1212;
				}
			}

			.message {
				margin-bottom: 15px;
				padding: 15px 10px;
				max-width: 100%;
				min-height: 150px;
				min-width: 100%;

				background: #367578;
				border: none;
				outline: none;
				border-radius: 4px;
color:#ffae37;
				font-size: 0.9rem;
				font-weight: 400;

				&::placeholder {
					color: #ffdba5;
				}
				
			}
		}

		.button {
			width: 100%;
			padding: 19px;
		  max-width: 400px;
			border-radius: 50px;
			border: none;
			outline: none;
		  
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 1px;
		  
			background-color: #ffae37;
			color: #1e1e1e;
		  
			cursor: pointer;
		  
			transition: background-color 0.8s, outline 0.4s, color 0.6s;
		  
			// Анимация блика
			background-image: linear-gradient(135deg, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 55%);
			background-size: 200% 100%;
			animation: shine 1.6s ease-in-out infinite;
		  
		  
		  
		  // Описание ключевых кадров для анимации блика
		  @keyframes shine {
			from {
			  background-position: 200% 0;
			}
			to {
			  background-position: -200% 0;
			}
		  }

			&:hover {
				background-color: #ffdd6e;
			}

			&.loading {
				background-color: #3d04a6;
				cursor: wait;
			}
		}
	}
}
